<nav class="navbar">
    <div>
        <ul class="navlist">
            <li><a class="nav-link" style="float: left; margin-left: 1%;font-size: larger;" href="/Dashboard">  <i class="fa fa-home"></i></a></li>
            <li><form action="/logout" method="post"><button class="logout-btn">Logout</button></li></form>
            <li><a class="nav-link icon" style="float:right;" href="/AddItem"><i class="fa fa-pencil-square-o"></i></a></li>
            <li><a class="nav-link icon" style=" float:right;" href="/MyEntries"><i class="fa fa-history"></i></a></li>
            <li><a class="nav-link icon" style=" float:right;" href="/profile"><i class="fa fa-user-circle-o"></i></a></li>
        </ul>
    </div>
</nav>

