<nav class="navbar">
    <div>
        <ul class="navlist">
            <li><a class="nav-link" style="float: left; margin-left: 1%;" href="/Dashboard">Home</a></li>
            <li><form action="/logout" method="post"><button class="logout-btn">Logout</button></li></form>
            <li><a class="nav-link" style="float:right;" href="/AddItem">Compose</a></li>
            <li><a class="nav-link" style=" float:right;" href="/MyEntries">My Entries</a></li>
            <li><a class="nav-link" style=" float:right;" href="/profile">Profile</a></li>
        </ul>
    </div>
</nav>

