<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>
<script>
  function success() {
    if (document.getElementsByClassName("textsend").value === "") {
      document.getElementsByClassName("button").disabled = true;
    } else {
      document.getElementById("button").disabled = false;
    }
  }
  function checkedOnClick1() {
    if (document.getElementById("myCheck2").checked === true) {
      document.getElementById("myCheck2").checked = false;
    } else {
      document.getElementById("myCheck2").checked = true;
    }
  }
  function checkedOnClick2() {
    if (document.getElementById("myCheck1").checked === true) {
      document.getElementById("myCheck1").checked = false;
    } else {
      document.getElementById("myCheck1").checked = true;
    }
  }
</script>
<div class="container" style="text-align: left">
  <form
    action="/AddItem"
    method="post"
    id="input-form"
    enctype="multipart/form-data"
    style="width: 100%"
  >
    <h1 style="text-align: center">Enter the details below</h1>
    <div>
      <div>
        <input
          id="category"
          name="category"
          class="input-class my-2 category textsend"
          type="text"
          placeholder="Enter category (only one word)"
          autocomplete="off"
          value=""
          maxlength="10"
          required
        />
      </div>
      <div>
        <input
          id="mainTitle"
          name="title"
          class="input-class my-2 textsend"
          type="text"
          placeholder="Enter Title"
          autocomplete="off"
          value=""
          maxlength="20"
          required
        />
      </div>
      <div>
        <textarea
          id="mainDesc"
          name="desc"
          class="input-class my-2 textsend"
          name=""
          id=""
          cols="40"
          rows="10"
          placeholder="Enter Description"
          value=""
          required
        ></textarea>
        <br />
        <div class="mb-3">
          <input
            name="image1"
            value=""
            accept=".jpeg ,.jpg ,.png"
            class="form-control input"
            type="file"
            id="formFile"
          />
        </div>
      </div>
      <div class="my-2">
        <input
          name="type"
          id="myCheck1"
          type="checkbox"
          onclick="checkedOnClick1()"
          value="Lost"
          checked="true"
        /><label for="">Lost</label>
        <input
          name="type"
          id="myCheck2"
          type="checkbox"
          onclick="checkedOnClick2()"
          value="Found"
          class="mx-3"
        /><label for="">Found</label><br />
        <button class="btn mt-2 button" type="submit" onkeyup="success()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<script>
  let input = document.querySelector(".input");
  let button = document.querySelector(".button");
  button.disabled = true;
  input.addEventListener("change", stateHandle);
  function stateHandle() {
    const fileSize = input.files.item(0).size;
    const fileMb = fileSize / 1024 ** 2;
    if (fileMb >= 1.01) {
      alert("file size less than 1MB");
      button.disabled = true;
    } else {
      button.disabled = false;
    }
  }
</script>
