<%- include ("partials/header") -%> <%- include ("partials/navbar") -%>
<script>
  function checkedOnClick1() {
    document.getElementById("myCheck2").checked = false;
  }
  function checkedOnClick2() {
    document.getElementById("myCheck1").checked = false;
  }
</script>
<form
  action="/AddItem"
  method="post"
  id="input-form"
  enctype="multipart/form-data"
>
  <h1 style="text-align: center">Enter the details below</h1>
  <div class="additem">
    <div>
      <input
        id="mainTitle"
        name="title"
        class="inputClass"
        type="text"
        placeholder="Enter Title"
        autocomplete="off"
        value=""
        maxlength="20"
        required
        style="margin: 1%"
      />
    </div>
    <div>
      <textarea
        id="mainDesc"
        name="desc"
        class="inputClass2"
        name=""
        id=""
        cols="40"
        rows="10"
        placeholder="Enter Description"
        value=""
        required
        style="float: left; margin: 1%"
      ></textarea>
      <input
        type="file"
        id="image"
        name="image1"
        value=""
        accept=".jpeg ,.jpg ,.png"
        class="input"
        style="float: right; margin: 1%"
      />
    </div>
    <div style="clear: both; font-weight: bolder; margin: 1%">
      <input
        name="type"
        id="myCheck1"
        type="checkbox"
        onclick="checkedOnClick1()"
        value="Lost"
      /><label for="">Lost</label>
      <input
        name="type"
        id="myCheck2"
        style="margin-left: 2%"
        type="checkbox"
        onclick="checkedOnClick2()"
        value="Found"
      /><label for="">Found</label><br />

      <button class="btn button" type="submit" style="margin-top: 1%">
        Submit
      </button>
    </div>
  </div>
</form>
<script>
  let input = document.querySelector(".input");
  let button = document.querySelector(".button");
  button.disabled = true;
  input.addEventListener("change", stateHandle);
  function stateHandle() {
    if (document.querySelector(".input").value === "") {
      button.disabled = true;
    } else {
      const fileSize = input.files.item(0).size;
      const fileMb = fileSize / 1024 ** 2;
      if (fileMb >= 1.55) {
        alert("file size less than 1.5MB");
        button.disabled = true;
      } else {
        button.disabled = false;
      }
    }
  }
</script>
