body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  text-align: center;
  background-color: #b5b4b5;
}
footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-top: 5%;
  color: black;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(85, 82, 82);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  padding: 2%;
  box-shadow: 0 2px 5px black;
  margin-bottom: 2%;
}
.container-m {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  width: 90%;
  margin: 0 auto;
}
.container-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-a {
  display: flex;
  flex-wrap: wrap;
}
.landing-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
@media only screen and (max-width: 600px){
  .article-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 600px){
  .article-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
.input-class {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}
.entries {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.entry {
  border-radius: 10px;
  box-shadow: 0 1px 5px black;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0.5%;
}
@media only screen and (max-width: 280px) {
  .profile-img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 280px) {
  .profile-img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
  }
}
.button {
  border: none;
}